@import 'tailwindcss';

@theme {
  --font-sans: Inter, Roboto, Helvetica, Arial, sans-serif;

  --color-white-primary: #fafafa;
  --color-white: #ffffff;
  --color-muted: #71717b;
  --color-muted-alpha: #71717bb2;
  --color-red: #e7000b;
  --color-green: #00c950;
  --color-blue: #155dfc;
  --color-dark: #27272a;

  --color-bg-primary: #09090b;
  --color-bg-secondary: #18181b;

  --color-skeleton: #e4e4e4;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
}

@layer base {
  body {
    @apply antialiased;

    font-size: 14px;
    line-height: 1.4;
    color: var(--color-white);
    background-color: var(--color-bg-primary);
  }
}